*{
    padding: 0;
    margin: 0;
}

body{
    color: white;
    overflow-x: hidden;
}



.container{
    width: 100%;
}

nav{
    width: 100vw;
    top: 0;
}

#TopNav{
    
    height: 100px;
}

#carouselExampleIndicators{
    top: -50;
}